<div class="container">
<div class="qsomos p-3">
<p>Somos un grupo de amigos de los animales que cuando nuestros caminos se cruzaron,
  viendo la gran cantidad de animales doméstico que se abandonan diariamente y el maltrato
  que sufren muchos de ellos, decidimos fundar una asociación sin ánimo de lucro para defender
  sus derechos, e intentar facilitarles una vida mejor a aquellos que han sido abandonados o
  maltratados.</p>
<p>Nuestra asociación está formada por un grupo de personas con un amplio espectro profesional,
  que en la medida de lo posible ponen a disposición sus conocimientos y tiempo para el desempeño de nuestra
  labor a favor de los derechos y el bienestar de nuestras mascotas, y las que no lo son.</p>
<p>Si te ves reflejado en nuestro ideario y te apasiona el mundo de las mascotas,
  no dudes en ponerte en contacto con nosotros y formar parte de nuestra familia en cruza<strong>Can</strong>.</p>
</div>
</div>