<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
 crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<header class="container-fluid bg-light sticky-top">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="#"><i class="fas fa-paw"></i> cruza<strong>Can</strong></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="inicio">Inicio <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false"
						aria-controls="collapseExample1">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="informacion">Info</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Quienes Somos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
						 aria-controls="collapseExample">Contacto</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<app-login></app-login>
	<app-contacto></app-contacto>
</header>
<div class="info">
<h1>¿Cómo cruzar tu perro?</h1>
<h3>Cuando una perra entra en celo acepta de manera instintiva al macho sin mayor resistencia</h3>

<p>Algo importante a considerar antes de aparear a la hembra:</p>

<p>a) Si es primeriza se recomienda que se aparee con un macho experimentado.</p>

<p>b) Si la hembra está demasiado consentida no espere que se cruze al primer intento, ya que en algunas ocasiones son más agresivas por el entorno tan protector que se creo en ellas.</p>

<p>c) Nunca obligue a una hembra a aparearse (en algunos casos las amarran, les ponen bozal y las sujetan) y esto es el equivalente a una violación.</p>

<h4>Como cruzar perros</h4>

<p>d) Si usted va a destinar a la hembra a reproducción, elija posibles candidatos desde antes para presentarlos con la hembra y que sea ella la que elija al más adecuado.</p>

<p>e) Algunas veces, no todos los machos coquetean con las hembras antes de montarlas, hay algunos que incluso agreden a la hembra a fin de que está ceda a la monta. Si es el caso, le recomiendo que busque otro candidato ya que podría tratarse de un perro demasiado agresivo y peligroso.</p>

<p>En el caso de los machos:</p>

<p>a) Si es primerizo busque una hembra experimentada.</p>

<p>b) Enséñelo a socializar desde chico con las hembras (algunos machos que nunca socializaron con hembras siendo jóvenes les tienen miedo).</p>

<p>c) Si usted nota que la hembra es agresiva, ni lo intente, retire a su macho y busque otra (podría ocasionarle temor a las hembras).</p>

    <p><strong>Paso 1:</strong> Vigilar cuando está en celo.</p>
    <p>Lo ideal es cruzarla desde el tercer celo (se da al año y medio aproximadamente) hasta que cumpla los 6 años. A partir de ese momento la fertilidad de un perro disminuye. El periodo de celo nos indica que la perra ya está físicamente preparada para ser cruzada</p>

    <p><strong>Paso 2:</strong> Sigue el rastro a la ovulación.</p>
    <p>El acoplamiento debería realizarse durante el estro que es cuando la hembra acepta al macho. En esta fase se produce la ovulación, entre el octavo y el quinceavo día del celo.</p>

    <p><strong>Paso 3:</strong> Empieza el cortejo.
    <p>Antes de aparearse, los perros se huelen mutuamente. Es la maner que tienen para conocerse. SI ambos mueven la cola querrá decir que muestran interés el uno por el otro. Es importante que les des tiempo para socializarse y conocerse.</p>

    <p><strong>Paso 4:</strong> Las prisas son muy malas.
    <p>Una vez estén en confianza, el macho intentará montar a la hembra hasta que ella lo permita. No les metas prisa ni interrumpas.</p>

    <p><strong>Paso 5:</strong> Cuántas más veces mejor.</p>
    <p>Para incrementar las posibilidades de fecundación, es recomendable realizar varias montas si la hembra así lo permite.</p>

<strong>TIP:</strong> No bañes al macho cuando lo vayas a juntar con la perrita. A ellas les gusta el olor a "macho" y si va muy perfumado seguramente ella no sentira que es dominante. Recuerda que son animales y ellos se guian por instintos.
</div>
<footer class="page-footer font-small bg-light pt-4">
        <div class="container">
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a class="btn-floating btn-fb btn-lg mx-1">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-tw btn-lg mx-1">
                        <i class="fa fa-twitter"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-wa btn-lg mx-1">
                        <i class="fa fa-whatsapp"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-te btn-lg mx-1">
                        <i class="fa fa-telegram"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-li btn-lg mx-1">
                        <i class="fa fa-linkedin"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-lg mx-1">
                        <i class="fa fa-instagram"> </i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-copyright text-center py-3">© 2018 Copyright cruza<strong>Can</strong>
        </div>
    </footer>