.carousel {
  max-width: 710px;
  height: auto;
  overflow: hidden;
  margin: auto;
  display: block;
  content: "";
}

.carousel-item {
  align-items: center;
}
img {
  width: 100%;
}

.carousel .carousel-indicators li {
  float: left;
}

footer{
  width: 100%;
  bottom: 0px;
  position: fixed;
}