.bg_carrusel{
  background: url('../../assets/images/WallpaperDogs.png') left no-repeat, 
  url('../../assets/images/WallpaperDogs1.png') right no-repeat;
  width: 100%;
  position: relative;
}

.carousel {
  max-width: 710px;
  height: auto;
  overflow: hidden;
  margin: auto;
  display: block;
  content: "";
}

.carousel-item {
  align-items: center;
}
img {
  width: 100%;
}

.carousel .carousel-indicators li {
  float: left;
}

.botones{
  cursor: pointer;
}